.toppage {
  background-color: rgb(34, 34, 34);
  height: 25rem;
  width: auto;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 2px 2px rgb(180, 176, 176);
}
.div {
  width: 70%;
  margin: 0 auto;
}
.left {
  border: 1px solid rgb(16 15 15);
  width: 15%;
  height: 24rem;
  border-radius: 1rem;
  background-color: rgb(16 15 15);
  position: absolute;
  margin-top: 0.5rem;
}
.right {
  /* border: 1px solid red; */
  width: 77%;
  height: 24.5rem;
  left: 22%;
  position: relative;
  color: white;
  padding: 1rem;
}
.right div {
  justify-content: space-between;
  border-radius: 0.5rem;
}
.img {
  height: 22rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.releaseText {
  color: white;
  text-align: center;
  padding: 2%;
}
.release {
  padding: 2%;
  border: 1px solid white;
  color: white;
  width: fit-content;
}
.screen {
  margin-top: 1rem;
  padding: 1%;
  background-color: white;
  border: 1px solid white;
  width: fit-content;
  color: black;
}

.button {
  margin: 1rem;
}
