.day {
  padding: 1%;
  background-color: white;
  margin: 0.5rem;
  width: 4%;
  border: 1px solid white;
  border-radius: 0.25rem;
  text-align: center;
}
.active {
  padding: 1%;
  background-color: #1976d0;
  border: 1px solid #1976d0;
  color: white;
  margin: 0.5rem;
  width: 4%;

  border-radius: 0.25rem;
  text-align: center;
}
.day:hover {
  background-color: #1976d0;
  border: 1px solid #1976d0;
  color: white;
}
.toppage {
  width: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
