.boxModel {
  width: 70%;
  padding: 0.25%;
}
.boxLeft {
  width: 30%;
  /* border: 1px solid red; */
  left: 15%;
  position: absolute;
  margin: 1%;
  height: 70px;
}
.boxRight {
  top: 0%;
  left: 43%;
  width: 56%;
  position: relative;
  /* border: 1px solid pink; */
  margin: 1%;
  height: 70px;
}
.text {
  font-size: larger;
  font-weight: bold;
  padding: 1%;
}
.ticket {
  font-size: smaller;
  font-weight: normal;
  left: 7%;
  position: absolute;
  color: green;
  top: 50%;
}
