.moviedetails {
  /* bottom: 0; */
  display: flex;
  position: relative;
}
.moviedetails .div {
  flex-direction: column;
  justify-content: center;
  display: inline-flex;
  padding: 1rem;
  width: 80%;
}
.moviedetails .button {
  flex-direction: column;
  justify-content: center;
  display: inline-flex;
  padding: 1rem;
}
.title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.description {
  padding-bottom: 0.5rem;
}
.actions {
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.button :hover {
  background-color: #fcaaaa;
}
.cur {
  pointer-events: none;
}
